<sw-post date="2024/10/07" keywords="" title="OCaml-stk 0.3.0" topics="release">
<p>
Release 0.3.0 of OCaml-stk is available from the
<sw-page href="/download">Download page</sw-page>.
</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li>fix: double free of text drop event,</li>
<li>add <ml>widget#render_to_png</ml>,</li>
<li><ml>Theme</ml> module has its own <ml>Log</ml> module
   (and so honors STK_THEME_LOG_LEVEL env var),</li>
<li>add <ml>notebook#find_child</ml> and <ml>notebook#widget_index</ml>.</li>
</ul>
</sw-post>
