<sw-post date="2024/12/12" keywords="" title="OCaml-stk 0.4.0" topics="release">
<p>
Release 0.4.0 of OCaml-stk is available from the
<sw-page href="/download">Download page</sw-page>.
</p>
<sep_/>
<p>Changes (compatibility-breaking changes are indicated
 <span class="compatibility-break">like this</span>:</p>
<ul id="changes">
<li>new inspection window (see datails <doc href="doc-inspect">here</doc>),</li>
<li>scrollbox: <ml>{h,v}scrollbar_covers_child</ml> properties default to
  <ml>false</ml> instead of <ml>true</ml>,</li>
<li><span class="compatibility-break">split <ml>Pack</ml> module into <ml>Box</ml> and <ml>Paned</ml>
  (one module for each widget),</span></li>
<li><span class="compatibility-break">split <ml>Bin</ml> module into <ml>Bin</ml>,
  <ml>Fixed_size</ml>,
  <ml>Event_box</ml> and <ml>Scrollbox</ml> (one module for each widget),</span></li>
<li>new property <ml>Props.opacity</ml>,</li>
<li>Image: add method <ml>image#unload</ml>,</li>
<li><ml>Table</ml>: widgets can span over rows and/or columns, using
  <ml>~row_span</ml> and <ml>~column_span</ml> argument to <ml>table#pack</ml>,</li>
<li>add <refdoc mod="Stk_xml">Stk_xml</refdoc> library, including XML/XHTML viewer,</li>
<li><ml>Theme</ml>:
<ul><li>add <ml>preamble_statements</ml> and <ml>body_statements</ml> functions,</li>
<li>honor <icode>:root</icode> pseudo class and use it instead of <icode>window</icode>
  for root props.</li>
</ul>
</li>
</ul>
</sw-post>
