<sw-post date="2024/09/13" keywords="" title="OCaml-stk 0.2.0" topics="release">
<p>
Release 0.2.0 of OCaml-stk is available from the
<sw-page href="/download">Download page</sw-page>.
</p>
<sep_/>
<p>Changes:</p>
<ul id="changes">
<li><ml>Color.of_name</ml> replaced by
  <refdoc mod="Stk/Color" id="val-of_string" name="Color.of_string"/>,</li>
<li><ml>Color.sdl_color_of_int32</ml> replaced by
  <refdoc mod="Stk/Color" id="val-to_sdl_color" name="Color.to_sdl_color"/>,</li>
<li>one can now register colors by name, in addition to predefined ones,
  using <refdoc mod="Stk/Color" id="val-register" name="Color.register"/>,</li>
<li>Fix: closing last window make the app stops,</li>
<li>Fix: menu windows now autoresize,</li>
<li>New theming system, based on CSS,</li>
<li>New <a href="https://zoggy.frama.io/ocaml-stk/refdoc/stk_ocf/index.html"><ml>Stk_ocf</ml></a>
  package to build configuration boxes upon <ext-a href="https://zoggy.frama.io/ocf/">Ocf</ext-a>,</li>
<li><refdoc mod="Stk/Image" name="Image"/>: handle new
  <refdoc mod="Stk/Image" id="val-autosize" name="autosize"/> property,
  new method <ml>surface</ml>,</li>
<li><refdoc mod="Stk/Font" name="Font"/>:<ul>
    <li>new <ml>font</ml> abstract type,</li>
    <li>use in-memory fonts rather than keeping open file descriptors,</li>
    <li>automatically unload fonts unused for some delay,</li>
    <li>look up for fonts in additional default directories,</li>
    <li>issue debug message rather than fail when a font directory does not exist,</li>
    <li>add <refdoc mod="Stk/Font" id="val-family_is_available" name="Font.family_is_available"/>,</li>
    <li>try harder to return a font when no italic or no bold is available,</li>
   </ul>
</li>
<li>Improve memory management to avoid leaks,</li>
<li>Callbacks attached to an object are now stored in the object rather
  than in a global variable, so that the object can be garbage collected,</li>
<li>New <refdoc mod="Stk/Table" name="Table"/> widget,</li>
<li>Split class <ml>Container.container</ml>
  to <refdoc mod="Stk/Container" id="class-container" name="Container.container"/>
  and <refdoc mod="Stk/Container" id="class-container_list" name="Container.container_list"/>
  Class <ml>container</ml> is a generic virtual class for containers, and
  <ml>container_list</ml> specifies this class using a list to store children,</li>
<li><refdoc mod="Stk/Datetime" name="Datetime"/> module, including a calendar widget;
  widgets for time will be added in the future,</li>
<li>Add <refdoc mod="Stk/Props" id="module-PList" name="Props.PList"/>
  <refdoc mod="Stk/Props" id="module-PTriple" name="Props.PTriple"/> functors to create
  properties with <ml>'a list</ml> or <ml>('a,'b,'c)</ml> triple values,</li>
<li><refdoc mod="Stk/Clist" name="Clist"/>: change definition of cell creation function,</li>
<li>Widget: add missing <ml>?delay</ml> and <ml>?propagate</ml> parameters to some
  <ml>set_XXX</ml> methods,</li>
<li><refdoc mod="Stk/Clist" id="class-clist" name="Clist.clist"/>:
  honor max_height property of cells, fix handling of cell
  resizing (for example when containing a textview),</li>
<li>New <ml>Props.max_</ml>{<refdoc mod="Stk/Props" id="val-max_width" name="width"/>,<refdoc mod="Stk/Props" id="val-height" name="max_height"/>height} properties. Only <ml>max_height</ml> is used by now (by clist),</li>
<li><refdoc mod="Stk/Clist" id="class-clist" name="Clist.clist"/>: add <ml>hcovers_child</ml>
  and <ml>vcovers_child</ml> optional parameters, specifying
  whether child widget expands under horizontal and vertical scrollbars,</li>
<li><refdoc mod="Stk/Menu" name="Menu"/>: fix alignment when unfolding menus,</li>
<li><refdoc mod="Stk/Dialog" name="Dialog"/>:
  method <ml>#run</ml> does not use <ml>Lwt.async</ml>;
  new method <ml>#run_async</ml>, like calling <ml>#run</ml> in Lwt.async,</li>
<li>fix handling of reentrant <ml>need_resize</ml>,</li>
<li>fix <ml>Text.</ml>{<ml>label</ml>,<ml>glyph</ml>}#<ml>min_height_</ml> method,</li>
<li>add <ml>?label_classes</ml> to <ml>Button.text_</ml> functions,</li>
<li>New widget events: <ml>File_dropped</ml>, <ml>Text_dropped</ml>,</li>
<li>Add <ml>?wdata</ml> parameter for each widget,</li>
<li><refdoc mod="Stk/Props" name="Props"/>: add transitions to animate property changes
  (new <ml>?delay</ml> parameter for <ml>object#set_p</ml> method),</li>
<li>new <ml>?count</ml> parameter for <refdoc mod="Stk/Events" id="val-register" name="Events.register"/>
  and <refdoc mod="Stk/Object" id="class-o" name="Object.o"/><ml>#connect</ml>,
  to automatically unregister event handlers after <ml>count</ml> calls,</li>
<li><refdoc mod="Stk/Button" id="val-radiobutton" name="Button.radiobutton"/> and
  <refdoc mod="Stk/Button" id="val-text_radiobutton" name="Button.text_radiobutton"/>:
  add a <ml>?wdata</ml> parameter,</li>
<li><refdoc mod="Stk/Pack" id="class-box" name="Pack.box"/>,
  <refdoc mod="Stk/Pack" id="class-paned" name="Pack.paned"/> and
  <refdoc mod="Stk/Flex" id="class-flex" name="Pack.flex"/>: <ml>?pos</ml> argument to
  <ml>#pack</ml> method can be negative to indicate a position from the end of the children list,</li>
<li><refdoc mod="Stk/Bin" id="class-scrollbox" name="Bin.scrollbox"/>:
  <ul><li>new events <ml>HScrolled</ml> and <ml>VScrolled</ml> (in module <ml>Bin</ml>),</li>
      <li>new methods <ml>hscroll_range</ml> and <ml>vscroll_range</ml>,</li>
      <li>make <ml>g_child</ml> method public,</li>
  </ul></li>
<li>Canvas: add new items <refdoc mod="Stk/Canvas" id="class-bin" name="Canvas.bin"/>
  and <refdoc mod="Stk/Canvas" id="class-bezier_curve" name="Canvas.bezier_curve"/>.</li>
</ul>
</sw-post>
