window {
  fg_color: var(--fg-color) ;
  fg_color_hover: var(--fg-color-hover);
  fg_color_selected: var(--fg-color-selected);
  fg_color_focused: var(--fg-color-focused);
  input_ghost_color: var(--input-ghost-color);
  input_bg_color: var(--input-bg-color);
  font_family: var(--font-family);
  font_size: var(--font-size);
}
*[widget]
{
  padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
  bg_color: transparent;
  bg_color_hover: var(--bg-color-hover);
  bg_color_selected: var(--bg-color-selected);
  border_color: var(--border-color);
  border_color_hover: var(--border-color-hover);
  border_color_focused: var(--border-color-focused);
}
window { bg_color: var(--bg-color); }

bin, fixed_size, image { padding: 0; }
fixed_size { border_width: 0;}
event_box { padding: 0; show_on_focus: false; }
menuitem {
  padding: 1 3;
  fill: true;
  halign: 0;
  font_size: var(--font-size);
}
menuitem_shortcut {
  fg_color: #ccccccff;
  halign: 1.0;
  font_size: 11;
}
menubar, menu { padding: 0; }
frame {
  fg_color_focused: var(--fg-color);
  padding: 4;
}
.frame_label { fill: true; bg_color:var(--bg-color);}
button, togglebutton {
 border_color:
   var(--button-light-border)
   var(--button-dark-border)
   var(--button-dark-border)
   var(--button-light-border);
 border_color_hover:
    var(--button-light-border-hover)
    var(--button-dark-border-hover)
    var(--button-dark-border-hover)
    var(--button-light-border-hover);
 border_color_focused:
    var(--button-light-border-focused)
    var(--button-dark-border-focused)
    var(--button-dark-border-focused)
    var(--button-light-border-focused);
}
button {  border_width: 2; }
togglebutton { border_width: 4;}
checkbutton,radiobutton {
  border_color_hover: var(--button-light-border-hover);
  border_width: 1;
  inter_padding: 2;
  check_indicator_font: "DejaVu Sans" 14 ;
}
checkbutton {
  check_indicator_active_char: 9724;
  check_indicator_inactive_char: 9723;
}
radiobutton {
  check_indicator_active_char: 9673;
  check_indicator_inactive_char: 9675;
}
label, status {
  can_focus: false ;
  halign: 0;
  valign: 0.5;
}
scrollbox {
  padding: 0;
  scrollbar_width: var(--scrollbar-width);
  scrollbar_handle_min_size: var(--scrollbar-handle-min-size);
  scrollbar_handle_color: var(--scrollbar-handle-color);
  scrollbar_bg_color: var(--scrollbar-bg-color);
}
box, paned {
  padding: 0;
}
paned > paned_handle_props {
  width: 2;
  fg_color: lightgrey;
}
table {
  padding: 0;
  inter_padding: 1;
}
entry, textview {
  focusable: true;
  font_family: "DejaVu Sans Mono" ;
  font_size: 14;
}
canvas {
  padding:0;
  fill: true;
}
canvas_item { padding: 0; }
canvas_group {
  fill: false;
  can_focus: true;
  padding: 0;
  margin: 0;
}
canvas_bezier_curve {
  padding:0;
  margin:0;
  border_width:0;
}
canvas_rect {
  border_width: 1;
}

notebook bin.tab {
 fill: true;
 fg_color_selected: var(--bg-color);
 bg_color: transparent;
 bg_color_selected: var(--fg-color);
 bg_color_hover: darkgrey;
}
notebook bin.tab button {
 border_color: transparent;
}
notebook bin.tab *[widget] {
 fg_color_selected: var(--bg-color);
}
notebook.horizontal bin.tab {
 margin: 4 4 0 4;
 padding: 4;
 border_width: 1 1 1 1;
 border_color: var(--notebook-tab-border-color);
 border_color_bottom: var(--notebook-tab-border-color-light);
 border_color_selected: var(--notebook-tab-border-color);
 border_color_selected_bottom: var(--fg-color);
 border_color_hover: var(--notebook-tab-border-color);
 border_color_hover_bottom: grey;
}

notebook.vertical bin.tab {
 margin: 4 0 4 4;
 padding: 4;
 border_width: 1 1 1 1;
 border_color: var(--notebook-tab-border-color);
 border_color_right: var(--notebook-tab-border-color-light);
 border_color_selected: var(--notebook-tab-border-color);
 border_color_selected_right: var(--fg-color);
 border_color_hover: var(--notebook-tab-border-color);
 border_color_hover_right: grey;
}

flex_space {
  padding:0; margin: 0;
  bg_color: transparent;
  bg_color_hover: transparent;
}

tree {
  fill: true;
  focusable: true;
  margin: 1 2;
}
canvas_group.tree_label {
  fill: true;
  border_width: 1;
  border_color: transparent;
  border_color_focused: var(--border-color-focused);
}
textview, entry {
  bg_color: var(--text-bg-color);
  fg_color: var(--text-fg-color);
  bg_color_selected: var(--text-bg-color-selected);
  fg_color_selected: var(--text-fg-color-selected);
  font_family: var(--text-font-family);
  font_size: var(--text-font-size);
  fill: true;
  focusable: true;
  cursor_width: 2;
  cursor_color: var(--cursor-color);
  active_cursor_color: var(--active-cursor-color);
  border_width: 1;
  border_color_focused: var(--border-color-focused);
}
textview > gutter_props {
  fg_color: white;
  bg_color: grey;
  padding: 2 2 0 2;
  font_family: "Liberation Mono";
  font_size: 12;
}
textview.log {
  border_width:0;
}
entry {
  halign: 0;
  padding: 1 2;
}

window.dialog > box {
  margin: 3 3 3 4;
}

window.dialog *.content_area {

}

window.dialog *.action_area {
  margin: 3 5;
  inter_padding: 4;
}

clist {
  line_separator_width: 1;
  line_separator_color: lightgrey;
  column_separator_width: 1;
  column_separator_color: darkgrey;
  border_width: 1;
  border_color: darkgrey;
}
cell.label, cell.textview { fill: true; margin: 0 2; }
column {
  margin: 0;
  padding: 0;
}
header_props, .column-header {
  halign: 0.5;
  margin: 2;
  fill: true;
  fg_color: var(--bg-color);
  bg_color: var(--fg-color);
}

range {
  focusable: true;
  padding: 4;
  pole_color_low: green;
  pole_color_high: red;
  cursor_width: 5;
  range_cursor_bg_color: #aaaaaaff;
  range_cursor_border_color: #333333ff;
}

calendar {}
.calendar_box_title {
   bg_color: var(--text-bg-color);
   fill:true;
}
.calendar_title { halign: 0.5; }
.calendar_table {
  row_inter_padding: 0;
  column_inter_padding: 1;
  fill: true ;
  bg_color: #ddddddff;
}
.calendar_weekday {
 halign: 0.5;
 bold: true;
 fill: true;
 bg_color: var(--text-bg-color);
}

.calendar_day {
  halign:0.5;
  valign:0.5;
  bg_color: var(--text-bg-color);
  fill: true;
  border_width: 0;
}

.calendar_day_button {
  border_color: var(--text-bg-color);
  bg_color_focused: transparent;
  padding: 0;
}

.calendar_button {
  border_width: 1;
  border_color: var(--text-bg-color);
}

textview[theme="default"] {
  font_family: var(--code-font-family);
  font_size: var(--code-font-size);
  fg_color: var(--text-fg-color);
  bg_color: var(--text-bg-color);
  selection_fg_color: red;
  selection_bg_color: greenyellow;
  current_line_bg_color: darkgrey;
  bcomment { fg_color: green; italic: true }
  lcomment { fg_color: green; italic: true }
  keyword0 { fg_color: red; bold: true}
  keyword1 { fg_color: orange; bold: true}
  keyword2 { fg_color: mediumblue; bold: true}
  string{  fg_color: salmon; bold: true}
  symbol0{  fg_color: orange}
  symbol1{  fg_color: red}
  symbol2 { fg_color: cyan}
  symbol3 { fg_color: darkgreen}
  symbol4 { fg_color: pink}
  symbol5 { bold: true}
  symbol6 { italic: true}
  title1 { font_size: 24; }
  title2 { font_size: 20 }
  title3 { font_size: 18 }
  title4 { font_size: 16 }
  title5 { font_size: 14 }
  title6 { font_size: 14 ; italic: true}
  numeric{  fg_color: pink}
  constant{  fg_color: deeppink}
  id { fg_color: black}
  debug { fg_color: grey}
  info { fg_color: slateblue}
  warning { fg_color: orange}
  error { fg_color: red}
  app { fg_color: green}
}

textview[theme="terminal"] {
  fg_color: lightgrey;
  bg_color: black;
  fill: true;
  selection_fg_color: yellow;
  selection_bg_color: slategrey;
  font_family: "Liberation Mono";
  font_size: 12;
  debug { fg_color: grey; }
  info { fg_color: cyan; }
  warning { fg_color: orange; }
  error { fg_color: red; bold: true; }
  app { fg_color: lightgreen}
}

textview[theme="cobalt"], textview[theme="tango"] {
  font_family: var(--code-font-family);
  font_size: var(--code-font-size);
  fg_color: white;
  bg_color: #001b33FF;
  selection_fg_color: red;
  selection_bg_color: lightgreen;
  current_line_bg_color: slateblue;
  cursor_color : yellow;
  active_cursor_color: pink;
  fill: true;
  bcomment { fg_color: lightgreen; italic: true ; }
  lcomment { fg_color: lightgreen; italic: true ; }
  keyword0 { fg_color: yellow; bold: true}
  keyword1 { fg_color: orange; bold: true}
  keyword2 { fg_color: cyan; bold: true}
  string { fg_color: gold; bold: true}
  symbol0 { fg_color: orange}
  symbol1 { fg_color: yellow}
  symbol2 { fg_color: cyan}
  symbol3 { fg_color: darkgreen}
  symbol4 { fg_color: pink}
  symbol5 { bold: true}
  symbol6 { italic: true}
  title1 { fg_color: #ff0000; font_size: 24; }
  title2 { fg_color: #dd0000; font_size: 20 }
  title3 { fg_color: #bb0000; font_size: 18 }
  title4 { fg_color: #992222; font_size: 16 }
  title5 { fg_color: #775555; font_size: 14}
  title6 { fg_color: #667777; font_size: 14; italic: true}
  numeric { fg_color: red}
  constant { fg_color: pink}
  id { fg_color: white}
  debug { fg_color: grey}
  info { fg_color: yellow}
  warning { fg_color: orange}
  error { fg_color: red}
  app { fg_color: green}
}

textview[theme="tango"] {
  fg_color: #d3d7cf;
  bg_color: #2e3436;
  keyword2 { fg_color: deepskyblue; bold: true }
}
