:root {
  --font-family:"DejaVu Sans";
  --font-size: 14px;
  --fg-color: #eeeeeeff;
  --fg-color-hover: lightcyan;
  --fg-color-selected: lightseagreen;
  --fg-color-focused: darkturquoise;

  --bg-color: steelblue;
  --bg-color-hover: slateblue;
  --bg-color-selected: darkslateblue;

  --text-font-family: var(--font-family);
  --text-font-size: 14px;
  --code-font-family: "DejaVu Sans Mono";
  --code-font-size: 14px;
  --text-fg-color: #333333ff;
  --text-bg-color: white;
  --text-fg-color-selected: red;
  --text-bg-color-selected: lightgreen;
  --cursor-color: pink;
  --active-cursor-color: #ff0000cc;

  --button-light-border : #bbbbffff;
  --button-dark-border : #5555ccff;
  --button-light-border-hover : cyan;
  --button-dark-border-hover : darkcyan;
  --button-light-border-focused : turquoise;
  --button-dark-border-focused : darkturquoise;

  --notebook-tab-border-color: grey;
  --notebook-tab-border-color-light: lightgrey;

/*
  --padding-top: 1;
  --padding-right: 2;
  --padding-bottom: 1;
  --padding-left: 2;
*/

  --input-ghost-color: #ccccccff;
  --input-bg-color: lightcyan;

  --border-color: transparent;
  --border-color-hover: transparent;
  --border-color-focused: var(--fg-color-focused);

  --scrollbar-handle-color: #2222ddaa;
  --scrollbar-bg-color: #ffffff99;
  --scrollbar-width: 12;
  --scrollbar-handle-min-size: 30;
}