:root {
  --font-family:"DejaVu Sans";
  --font-size: 14px;
  --fg-color: #444444ff;
  --fg-color-hover: #d2222ff;
  --fg-color-selected: red;
  --fg-color-focused: red;
  --bg-color: #eeeeeeff;
  --bg-color-hover: #aabbbbff;
  --bg-color-selected: greenyellow;

  --text-font-family: var(--font-family);
  --text-font-size: 14px;
  --code-font-family: "DejaVu Sans Mono";
  --code-font-size: 14px;
  --text-fg-color: #333333ff;
  --text-bg-color: white;
  --text-fg-color-selected: red;
  --text-bg-color-selected: lightgreen;
  --cursor-color: pink;
  --active-cursor-color: #ff0000cc;

  --button-light-border : #ddddddff;
  --button-dark-border : #888888ff;
  --button-light-border-hover : orange;
  --button-dark-border-hover : #dd6a00ff;
  --button-light-border-focused : red;
  --button-dark-border-focused : darkred;

  --notebook-tab-border-color: grey;
  --notebook-tab-border-color-light: lightgrey;

  --padding-top: 1;
  --padding-right: 2;
  --padding-bottom: 1;
  --padding-left: 2;

  --input-ghost-color: #ccccccff;
  --input-bg-color: lightcyan;

  --border-color: transparent;
  --border-color-hover: transparent;
  --border-color-focused: var(--fg-color-focused);

  --scrollbar-handle-color: #2222ddaa;
  --scrollbar-bg-color: #ffffff99;
  --scrollbar-width: 12;
  --scrollbar-handle-min-size: 30;
}