@use 'sass:math';

p {
  font-size: $base-font-size ;
  line-height: $base-line-height ;
  margin-bottom: $base-line-height ;
}

dd {
  margin-bottom: $base-line-height ;
}

a {
  color: $link-color ;
  text-decoration: none ;
}
a:visited {
  color: $link-color-visited ;
}

ul.toc {
  margin-left: 0;
  padding-left: 1em;
}

ul {
  margin-left: 0;
  padding-left: 2em;
}

.date {
  font-size: 0.9em ;
  color: $date-color;
}

pre {
  font-family: $fixed-font-family ;
  @include border-radius(3px);
  padding-left: 0.5em;
  border-width: 0 0 0 2px;
  border-color: darken($code-background, 25) ;
  border-style: solid ;
  color: $code-color ;
  background-color: $code-background ;
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 1.5em;
}
p + ul, p + pre {
  margin-top: - math.div($base-line-height, 2) ;
}
code, span.icode {
  font-family: $fixed-font-family ;
  @include border-radius(3px);
  color: $code-color ;
  background-color: $code-background ;
  white-space: pre-wrap;
  word-break: keep-all;
}
a > .icode {
  text-decoration: underline;
}
.rss-button { float: right ; }
.ext-a {
  padding-right: 12px;
  background-image: url($ext-link-image);
  background-repeat: no-repeat ;
  background-position: right ;
}

.notes {
  font-size: 90%;
}

$window-border-color:#353c4a;
$widget-border-color:#567dc9;

div.screenshot-window {
  margin-top: 0.5em;
  margin-bottom: 1em;
  display: inline-flex;
  flex-direction: column ;
  border-radius: 3px;
  margin-left:10em;
  border-color: $window-border-color;
  border-width: 0 2px 2px 2px ;
  border-style: solid;
  padding:0;
  div.window-titlebar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    background-color:$window-border-color;
    img {
      flex-grow: 0;
      margin-right: 0;
      align-self: top;
    }
    span.window-title {
      flex-grow: 10;
      color: #eeeeee;
      text-align: center;
      padding: 0;
      margin-top:0;
      margin-bottom:0;
    }
  }
  > img {
    padding: 0;
    margin: 0;
  }
}

div.screenshot-widget {
  display:inline-block;
  margin-left:10em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  padding: 0;
  img {
    border-color: $widget-border-color;
    border-width: 1px ;
    border-style: solid;
    padding: 2px;
  }
}

p + div.screenshot {
  margin-top: -1em;
}

div.widget-gallery {
  display:flex;
  gap: 2em;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

div.gallery-widget {
  display:flex;
  flex-direction: column;
  align-items: center ;
  gap: 0.1em;
  > div { align-self: center; margin-left: 0;}
  a {  align-self: center; }
}

.compatibility-break {
  background-color: peachpuff;
}
.compatibility-break::before {
  content: "⚠ ";
}
