/* stylesheet for webapp demo */

@import "common";

h1 {
  font-size: $section-title-font-size ;
  line-height: $section-title-line-height ;
  margin-bottom: $section-title-margin-bottom ;
}
h2 {
  font-size: $subsection-title-font-size ;
  line-height: $subsection-title-line-height ;
  margin-bottom: $subsection-title-margin-bottom ;
}
h3 {
  font-size: $subsubsection-title-font-size ;
  line-height: $subsubsection-title-line-height ;
  margin-bottom: $subsubsection-title-margin-bottom ;
}


body {
  background-color: #efefef;
}
#page {
  background-color: #ffffff;
  //max-width: $page-max-width;
  margin-top: 0;
  padding: 0 ;
  margin-left: auto ;
  margin-right: auto ;
  border-style: solid ;
  border-width: 0 1px 1px 1px ;
  border-color: $base-text-color ;
}

#page-body {
  padding: 1em ;
}

