<sw-page navbar-doc="active" title="Inspecting widgets"
with-contents="true">
<contents>
<p>Complex graphical interfaces may contain dozens or hundreds of widgets, each with
their properties and classes which will impact their behaviour, position and appearance,
making debugging quite difficult.
</p>
<p>
Stk includes an inspection window, which displays the widget hierarchy of another
window, with their properties, classes, size constraints, ... An inspection
window is attached to a window and can ask the latter to highlight a widget,
when it is selected in the widget tree. To do so, all windows inherit from the
 <refdoc mod="Stk/Layers" id="class-layers" name="layers"/> widget, and use a layer to
 display a quite transparent rectangle above the widget, and another one for its margins.
</p>

<p>The inspection window is open with a key combination defined in the
environment variable <icode>STK_INSPECT_WINDOW_KEY</icode>. If it it not
defined or is incorrect (i.e. the content does not represent a valid key combination),
the inspect window cannot be open (except programmatically). This is to
prevent any conflict with other keyboard shortcuts in an application window.
</p>

<p>When a window has an inspection window created (and not closed), it handles
click with button 1 with Control key pressed above a leaf widget, to ask
the inspection window to display this widget's information.</p>

<p>Here is a short video showing the use of inspection window on the
example application included in distribution, launched with the
following command from the root directory of compiled sources:
</p>
<command-line>
$ STK_INSPECT_WINDOW_KEY="C-Escape" ./_build/default/examples/examples.exe
</command-line>
<video xmlns="http://www.w3.org/1999/xhtml" controls="controls">
<source src="videos/inspection-window.mp4" type="video/mp4" /></video>

</contents>
</sw-page>
