<sw-page title="Widget gallery" navbar-doc="active"
with-contents="true"
ocaml-session="gallery"
>
<widget mod="" name="" widget="" width="200" height="200">
<div class="gallery-widget">
<oc defer_="1" show="false">
let () = win#resize ~w:<width/> ~h:<height/> ;;
<contents/></oc>
<screenshot-window defer_="1"
  window="&lt;title/&gt;" widget="&lt;widget/&gt;" file="gallery-&lt;widget/&gt;">
</screenshot-window>
<refdoc mod="Stk/&lt;mod/&gt;" id="class-&lt;name/&gt;" name="&lt;mod/&gt;.&lt;name/&gt;"/>
</div>
</widget>

<contents>
<init-session/>

<oc show="false" error-exc="false">
let () = Logs.set_reporter (Misc.lwt_reporter());;
let _ = Tsdl.Sdl.(init Init.(video+events));;
let () = Lwt_main.run(App.init());;
let win = App.create_window ~w:200 ~h:200 "gallery";;
let win_auto = App.create_window "gallery";;
let colors = Color.[|cornflowerblue;coral;deeppink;darkseagreen;firebrick;gold;indigo;lemonchiffon;crimson|];;
let fgcolors = Color.[|white;black;white;black;white;black;white;black;white|];;
</oc>

<div class="widget-gallery">

<widget mod="Box" name="box" widget="vbox" title="Vertical box">
let vbox = Box.vbox ~pack:win_auto#set_child ();;
let () = for i = 0 to 3 do
  let text = Printf.sprintf "widget %d" i in
  let t = Text.label ~halign:0.5 ~text ~pack:vbox#pack () in
  t#set_padding_ 10 55 10 55;
  t#set_fill true; t#set_bg_color colors.(i);
  t#set_fg_color fgcolors.(i);
  ignore(t)
done
</widget>

<widget mod="Box" name="box" widget="hbox" title="Horizontal box" width="300">
let hbox = Box.hbox ~pack:win_auto#set_child ();;
let () = for i = 0 to 3 do
  let text = Printf.sprintf "widget %d" i in
  let t = Text.label ~halign:0.5 ~text ~pack:hbox#pack () in
  t#set_padding_ 60 10 60 10;
  t#set_fill true; t#set_bg_color colors.(i);
  t#set_fg_color fgcolors.(i);
  ignore(t)
done
</widget>

<widget mod="Paned" name="paned" widget="vpaned" title="Vertical paned" >
let vpaned = Paned.vpaned ~pack:win#set_child ();;
let () = for i = 0 to 2 do
  let text = Printf.sprintf "widget %d" i in
  let t = Text.label ~halign:0.5 ~text ~pack:vpaned#pack () in
  t#set_fill true; t#set_bg_color colors.(i);
  t#set_fg_color fgcolors.(i);
  ignore(t)
done
</widget>

<widget mod="Paned" name="paned" widget="hpaned" title="Horizontal paned" width="300">
let hpaned = Paned.hpaned ~pack:win#set_child ();;
let () = for i = 0 to 2 do
  let text = Printf.sprintf "widget %d" i in
  let t = Text.label ~halign:0.5 ~text ~pack:hpaned#pack () in
  t#set_fill true; t#set_bg_color colors.(i);
  t#set_fg_color fgcolors.(i);
  ignore(t)
done
</widget>

<widget defer_="1" mod="Textview" name="textview" widget="tv" title="Textview with syntax highlight"
  width="450" height="300">
let tv = Textview.textview
  ~show_line_numbers:true ~show_line_markers:false
  ~show_cursors:true ~handle_lang_tags:true ~pack:win#set_child ();;
let () = tv#set_source_language (Some "ocaml") ;;
let () = tv#insert {|<include file="./ocamlcode.ml" raw="true"/>|}
</widget>

<widget defer_="1" mod="Textview" name="textview" widget="tv2" title="Textview, tango theme, no line numbers"
  width="450" height="300">
let tv2 = tv ;;
let () = tv#set_show_line_numbers false;;
let () = tv2#set_tagtheme "tango"
</widget>

<widget defer_="1" mod="Scrollbox" name="scrollbox" widget="scr" title="Textview in scrollbox"
  width="250" height="200">
let scr = Scrollbox.scrollbox ~pack:win#set_child ();;
let () = scr#set_child tv#as_widget;;
let () = tv#set_tagtheme "default"
</widget>

<widget mod="Table" name="table" widget="table" title="Table">
let table = Table.table ~rows:2 ~columns:4 ~pack:win_auto#set_child ();;
let () =
  table#set_row_inter_padding 1;
  table#set_column_inter_padding 1;
  for i = 0 to 7 do
    let text = Printf.sprintf "widget %d" i in
    let t = Text.label ~halign:0.5 ~text ~pack:table#pack () in
    t#set_padding_ 15 5 15 5;
    t#set_fill true; t#set_bg_color colors.(i);
    t#set_fg_color fgcolors.(i);
    ignore(t)
  done
</widget>

<widget mod="Table" name="table" widget="table2" title="Table handles multi-column and multi-row span"
 width="500">
let rows = 5;;
let columns = 6;;
let table2 = Table.table ~rows ~columns ~pack:win_auto#set_child ();;
let () = table2#set_row_inter_padding 1;;
let () = table2#set_column_inter_padding 1;;
let mk =
  let id = ref 0 in
  fun ?row_span ?column_span ?pos () ->
    incr id;
    let text = Printf.sprintf "widget %d" !id in
    let t = Text.label ~halign:0.5 ~text
      ~pack:(table2#pack ?row_span ?column_span ?pos) ()
    in
    t#set_padding_ 15 5 15 5;
    let icol = !id mod (Array.length colors) in
    t#set_fill true; t#set_bg_color colors.(icol);
    t#set_fg_color fgcolors.(icol);
    t
;;
let _ =  mk ~row_span:3 ~pos:(1, 1) ();;
let _ =  mk ~column_span:3 ~pos:(0,2) ();;
let _ =  mk ~column_span:2 ~row_span:2 ~pos:(2,3) ();;
let () =
  let rec iter () =
    let w = mk () in
    match table2#widget_pos w#coerce with
    | None -> ()
    | Some _ -> iter ()
  in
  iter ()
</widget>

<widget mod="Frame" name="frame" widget="frame" title="Frame">
let frame = Frame.frame ~label:(Text.label ~text:"★ Fancy label ★" ())#coerce ~pack:win#set_child ();;
let () =
  let l = Text.label ~text:"child widget" ~halign:0.5 ~pack:frame#set_child () in
  l#set_fill true;
  l#set_bg_color colors.(0);
  l#set_fg_color fgcolors.(0)
</widget>

<widget mod="Layers" name="layers" widget="layers" title="Layers" width="300">
let layers = Layers.layers ~pack:win#set_child ();;
let () =
  for i = 0 to 4 do
    let opacity = if i > 0 then Some 0.7 else None in
    let c = Canvas.canvas ~pack:(layers#pack ?opacity) () in
    c#set_padding__ 10;
    let l = Canvas.label ~group:c#root ~x:(30*i) ~y:(10*i)
      (Printf.sprintf "widget %d" i)
    in
    l#set_padding (Props.trbl ~left:20 ~right:20 ~top:40 ~bottom:40);
    l#set_fill true;
    l#set_bg_color colors.(i);
    l#set_fg_color fgcolors.(i);
  done
</widget>
</div>
<p>To be completed...</p>
</contents>
</sw-page>