<sw-page navbar-doc="active" title="Documentation">
<p>Library reference documentation:</p>
<ul>
<li><a href="https://zoggy.frama.io/ocaml-stk/refdoc/stk/index.html"><ml>Stk</ml></a></li>
<li><a href="https://zoggy.frama.io/ocaml-stk/refdoc/stk_iconv/index.html"><ml>Stk_iconv</ml></a></li>
<li><a href="https://zoggy.frama.io/ocaml-stk/refdoc/stk_ocf/index.html"><ml>Stk_ocf</ml></a></li>
<li><a href="https://zoggy.frama.io/ocaml-stk/refdoc/stk_rdf/index.html"><ml>Stk_rdf</ml></a></li>
<li><a href="https://zoggy.frama.io/ocaml-stk/refdoc/stk_xml/index.html"><ml>Stk_xml</ml></a></li>
</ul>
<p>Some more documentation:</p>
<ul>
<li><doc href="doc-intro"/></li>
<li><doc href="doc-gallery"/></li>
<li><doc href="doc-theme"/></li>
<li><doc href="doc-inspect"/></li>
</ul>
<p id="examples">
The file <icode>test/example.ml</icode> in the repository shows a minimal application (just a window).
Other test programs in
<ext-a href="https://framagit.org/zoggy/ocaml-stk/-/blob/master/examples/"><icode>examples</icode></ext-a>
directory provide some examples of widgets. The <icode>examples/examples</icode> program shows
examples of most of the available widgets, with the corresponding code displayed
in the same window.
</p>
</sw-page>
