<sw-page navbar-download="active"
title="Download and installation"
with-contents="true"
>
<release version="">
<if version=""><error_>&lt;release&gt;: missing version</error_></if>
<li><a href="https://zoggy.frama.io/ocaml-stk/releases/ocaml-stk-&lt;version/&gt;.tar.bz2"><version/></a>
<span class="date">[<doc-date doc-path="release-&lt;version/&gt;"/>]</span>
<late-inc href="release-&lt;version/&gt;#changes"
id="changes-&lt;version/&gt;"/>
</li>
</release>
<contents>
<prepare-toc depth="2">
<toc/>

<section id="opam" title="Quick install with Opam">
<p>
The easiest way to install is to use <ext-a href="http://opam.ocaml.org">OPAM</ext-a>:
</p>
<command-line>$ opam install stk stk_iconv stk_ocf stk_rdf stk_xml</command-line>
<p>Current development state of OCaml-stk can be installed with:</p>
<command-line>$ opam pin add https://framagit.org/zoggy/ocaml-stk.git</command-line>
</section>

<section id="download" title="From the sources">
<p>Get the sources from git repository:</p>
<command-line>$ git clone https://framgit.org/zoggy/ocaml-stk.git</command-line>

<p>Or pick one of the releases:</p>
<ul>
<release version="0.4.0"/>
<release version="0.3.0"/>
<release version="0.2.0"/>
</ul>

<subsection id="compilation" title="Compilation">
<p>Just type</p>
<command-line>$ make install</command-line>
<p>
This will install the <code>stk</code>* packages.
</p>
<late-inc href="doc#examples"/>
</subsection>
</section>

</prepare-toc>
</contents>
</sw-page>