<sw-page main_="true"
navbar-home="active"
stog:rss-length="10"
stog:section-counter="false"
stog:site-description=""
stog:site-email="you 'AT' yoursite 'DOT' net"
stog:site-url="https://zoggy.frama.io/ocaml-stk/"
stog:subsection-counter="false"
title="OCaml-stk"
stog:use="software"
with-contents="true">
<stog:ml foo=""><icode defer_="1" lang="ocaml"><contents/></icode></stog:ml>

<stog:oc show="true" error-exc="true" show-output="false" >
<ocaml-eval defer_="1" show-code="&lt;show/&gt;" session="&lt;ocaml-session/&gt;"
  toplevel="false" error-exc="&lt;error-exc/&gt;" show-output="&lt;show-output/&gt;">
<contents/></ocaml-eval>
</stog:oc>

<stog:init-session foo="">
<oc show="false">
open Stk
let screenshot widget file = widget#render_to_png ~file
let run_for delay f = Lwt.join [
  App.run ();
  (let%lwt() = Lwt_unix.sleep delay in f(); App.stop (App.app());Lwt.return_unit)
  ]
</oc>
</stog:init-session>

<stog:screenshot widget="" file="" delay="0.1">
<if file=""><error_>Missing filename for screenshot</error_></if>
<if widget=""><error_>Missing filename for screenshot</error_></if>
<oc show="false" >
let () = Lwt_main.run
  (run_for <delay/> (fun () -> screenshot <widget/> "shots/<file/>.png"))
</oc>
</stog:screenshot>

<stog:screenshot-widget window="" widget="" file="" delay="0.1">
<screenshot widget="&lt;widget/&gt;" file="&lt;file/&gt;" delay="&lt;delay/&gt;" />
<if window="">
  <div class="screenshot screenshot-widget">
    <image src="shots/&lt;file/&gt;.png"/>
  </div>
  <div class="screenshot screenshot-window">
    <div class="window-titlebar"><span class="window-title"><window/></span><img src="window-buttons.png"/></div>
    <image src="shots/&lt;file/&gt;.png"/>
  </div>
</if>
</stog:screenshot-widget>

<stog:screenshot-window window="" widget="" file="" delay="0.1">
<screenshot-widget window="&lt;window/&gt;" widget="&lt;widget/&gt;"
  file="&lt;file/&gt;" delay="&lt;delay/&gt;"/>
</stog:screenshot-window>

<stog:refdoc mod="Stk" id="" name="">
<a href="&lt;site-url/&gt;/refdoc/stk/&lt;mod/&gt;/index.html&lt;if id=&quot;&quot;&gt;&lt;dummy_/&gt;&lt;dummy_&gt;#&lt;id/&gt;&lt;/dummy_&gt;&lt;/if&gt;"><if name=""><contents/><ml><name/></ml></if></a></stog:refdoc>
<contents>
<section>
<p>
OCaml-stk is a Graphical User Interfce toolkit for OCaml based on
<ext-a href="https://www.libsdl.org/">libSDL 2</ext-a>, through the
<ext-a href="https://erratique.ch/software/tsdl">Tsdl</ext-a> bindings.
</p>
<p>
<ext-a href="https://github.com/ocsigen/lwt">Lwt</ext-a> is used to provide
pseudo-parallelism in event handling.
</p>
<p>Stk is still in development but already provides
<a href="https://zoggy.frama.io/ocaml-stk/refdoc/stk/index.html#widgets">various widgets</a>.
</p>
<p>The <code>stk_iconv</code> package provides bindings to
<ext-a href="https://www.gnu.org/software/libiconv">GNU libiconv</ext-a>
to convert strings to and from UTF-8, which is the format of strings in OCaml-stk.
</p>
<p>The <code>stk_ocf</code> package provides utilities to build configuration boxes
using <ext-a href="https://zoggy.frama.io/ocf/">Ocf</ext-a> but its API is not
yet stabilised.
</p>
<p>The <code>stk_rdf</code> package provides utilities to display RDF graphs
but its API is not yet stabilised.
</p>
<p>The <code>stk_xml</code> package provides a widget to display XML documents.
It handles CSS styling, allows custom representation
of some XML nodes and adding events to created widgets to allow
interaction with the document elements.
</p>

</section>

<section title="Development" id="dev">
<p>Development is hosted on <ext-a href="https://framagit.org/zoggy/ocaml-stk">framagit</ext-a>.</p>
<p>OCaml-STK is released under GPL3 license.</p>
<p>Stk is used in <ext-a href="https://zoggy.frama.io/chamo/introduction.html">Chamo</ext-a>.</p>
</section>

<section title="Author and contact" id="author">
<p>Maxence Guesdon &lt;Maxence 'DOT' Guesdon 'AT' inria 'DOT' fr&gt;</p>
</section>
</contents>
</sw-page>